{% extends "rankinglayout.html" %}
{% block content %}
<form name="entryForm" method="POST" target="_self" action="ranking.php">
  <div class="menu">ランキング</div>
  <div class="title">
    <div class="main">
      <div class="conditionForm">
        <input type="date" name="dateFrom" class="dateForm" value="{{ dateFrom }}">
      </div>
      <div class="conditionForm">
        <input type="date" name="dateTo" class="dateForm" value="{{ dateTo }}">
      </div>
      <div class="conditionForm">
        <input type="submit" name="searchSubmit" class="searchSubmit" value="検索">
      </div>
    </div>
    {% if ranking|length > 0 %}
    <div class="searchResult">
      <table>
        <thead>
          <tr>
            <th>試合番号</th>
            <th>メンバーNo</th>
            <th>対戦相手</th>
            <th>スコア</th>
            <th>結果</th>
          </tr>
        </thead>
      {% for score in scorelist %}
        <tr>
          <td>{{ score.matchno }}</td>
          <td>{{ score.memberno }}</td>
          <td>{{ score.opponentno }}</td>
          <td>{{ score.score }}</td>
          {% if score.result == '0' %}
            <td>負け</td>
          {% else %}
            <td>勝ち</td>
          {% endif %}

        </tr>
      {% endfor %}
      </table>

      <table>
        <thead>
          <tr>
            <th>メンバー</th>
            <th>対戦相手</th>
            <th>試合数</th>
            <th>勝数</th>
            <th>負数</th>
            <th>ポイント</th>
          </tr>
        </thead>
      {% for score in rankingbase %}
        <tr>
          <td>{{ score.membername }}</td>
          <td>{{ score.opponentname }}</td>
          <td>{{ score.match_count }}</td>
          <td>{{ score.win_count }}</td>
          <td>{{ score.lose_count }}</td>
          <td>{{ score.point }}</td>
        </tr>
      {% endfor %}
      </table>

      <table>
        <thead>
          <tr>
            <th>メンバーNo</th>
            <th>ポイント</th>
          </tr>
        </thead>
      {% for score in ranking %}
        <tr>
          <td>{{ score.memberno }}</td>
          <td>{{ score.membername }}</td>
          <td>{{ score.point }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>
</form>
{% endblock %}
