{% extends "scorelayout.html" %}
{% block content %}
<form name="entryForm" method="POST" target="_self" action="regist.php">
  <div class="menu">リーグ戦結果入力</div>
  <div class="title">
    <div class="entryDate">
        <input class="entryDate" name="entryDate" type="date" value="{{ entryDate }}">
    </div>
    <div class="scoreMain">
      <div class="matchResult">
        <div class="p1Name">
          <select class="p1Name" name="p1Name" onchange="setClass1()">
            {% for member in memberlist %}
              <option value="{{ member.memberno }},{{ member.name }},{{ member.class }},{{ member.score }}">{{ member.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="p1Class">
          <input class="p1Class" name="p1Class" type="text" value="" readonly="readonly">
        </div>
        <div class="p1Score">
          <input class="p1Score" name="p1Score" type="text" value="">
        </div>
        <div class="p1Masu">
          <select class="p1Masu" name="p1Masu">
            <option value="◎"><p class="a1masu">◎</p></option>
          </select>
        </div>
        <div class="p1Winner">WINNER</div>
      </div>
      <div class="p1Center">
        <div class="p1VS"><p class="p1VS">VS</p></div>
      </div>
      <div class="matchResult">
        <div class="p1Name">
          <select class="p1Name" name="p2Name">
            {% for member in memberlist %}
              <option value="{{ member.memberno }},{{ member.name }},{{ member.class }},{{ member.score }}">{{ member.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="p1Class">
          <input class="p1Class" name="p2Class" type="text" value="" readonly="readonly">
        </div>
        <div class="p1Score">
          <input class="p1Score" name="p2Score" type="text" value="">
        </div>
        <div class="p1Masu">
          <select class="p1Masu" name="p1Masu">
            <option value="◎"><p class="a1masu">◎</p></option>
          </select>
        </div>
        <div class="p1Winner">WINNER</div>
          <div class="a1btns">
            <input class="a1btns" type="submit" name="a1submit" value="結　果　登　録" onclick="a1datacheck()">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
